@charset "utf-8";
/* CSS Document */



/* 1199px */


@media only screen and (max-width: 1199px) {
	/* home */
	.last_item_content {
		padding-left: 80px;
		padding-right: 70px;
	}

	.last_percent {
		font-size: 124px;
	}

	.last_title {
		font-size: 30px;
	}

}

/*991px*/

@media only screen and (max-width: 991px) {
	.header {
		top: 0;
	}

	.main_nav,
	.search {
		display: none !important;
	}

	.hamburger {
		display: block;
	}

	.logo div:first-of-type {
		font-size: 22px;
	}


	.home_content {
		width: 100%;
	}

	.home_text_large {
		font-size: 125px;
	}

	.home_text_small {
		font-size: 42px;
	}

	.find_item:first-child {
		width: calc((100% - 8px) / 2);
		margin-bottom: 30px;
	}

	.find_item:nth-child(2) {
		width: calc((100% - 8px) / 2);
		margin-bottom: 30px;
	}

	.find_item:nth-child(3),
	.find_item:nth-child(4) {
		width: calc((100% - 154px) / 2);
	}

	.find_button {
		width: 138px;
	}

	.top_col {
		margin-bottom: 30px;
	}

	.top_col:last-child {
		margin-bottom: 0px;
	}

	.top_col:nth-last-child(2) {
		margin-bottom: 0px;
	}

	.last_item_content {
		padding-left: 90px;
		padding-right: 80px;
	}

	.last_item {
		padding-right: 0;
		margin-bottom: 35px;
	}

	.last_col:last-child .last_item {
		padding-left: 0;
		margin-bottom: 0px;
	}

	.last_subtitle {
		text-align: center;
	}

	.last_percent {
		text-align: center;
	}

	.last_title {
		text-align: center;
	}

	.popular_item {
		width: calc((100% - 30px) / 2);
		margin-bottom: 26px;
	}

	.popular_item:nth-last-child(-n+4) {
		margin-bottom: 26px;
	}

	.popular_item:nth-last-child(-n+2) {
		margin-bottom: 0;
	}

	.special_content {
		width: 690px;
		margin-left: auto;
		margin-right: auto;
	}

	.special_slider_nav {
		display: none !important;
	}

	.footer_col {
		margin-bottom: 10px;
	}

	.copyright {
		margin-top: 22px;
	}

	.footer_latest {
		margin-bottom: 10px;
	}
}

/*767px*/

@media only screen and (max-width: 767px) {
	.menu_container {
		right: -100vw;
		width: 100vw;
		height: 100vh;
	}

	.home_text_large {
		font-size: 88px;
	}

	.home_text_small {
		font-size: 36px;
	}

	.find_item:first-child {
		width: 100%;
		margin-bottom: 30px;
	}

	.find_item:nth-child(2) {
		width: 100%;
		margin-bottom: 30px;
	}

	.find_item:nth-child(3),
	.find_item:nth-child(4) {
		width: 100%;
		margin-bottom: 30px;
	}

	.find_button {
		width: 138px;
	}

	.top_col:nth-last-child(2) {
		margin-bottom: 30px;
	}

	.popular_item {
		width: 100%;
		margin-bottom: 26px;
	}

	.popular_item:nth-last-child(-n+4) {
		margin-bottom: 26px;
	}

	.popular_item:nth-last-child(-n+2) {
		margin-bottom: 26px;
	}

	.popular_item:last-child {
		margin-bottom: 0;
	}

	.special_content {
		width: 510px;
	}

	.popular_content {
		width: 100%;
		margin-top: 20px;
	}

	.popular {
		padding-bottom: 20px;
	}

	.footer {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer_about,
	.footer_latest {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer_title {
		font-size: 24px;
		font-weight: 600;
		color: #FFFFFF;
		margin-bottom: 15px;
	}

	.footer_item{
		display: flex;
		justify-content: space-evenly;
	}

	.footer_icon {
		font-size: 20px;
		color: white;
		margin-right: 0;
		cursor: pointer;
	}

	.footer_text {
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
		color: #ffffff;
		margin-bottom: 15px;
	}

	.footer_col span {
		display: flex;
		justify-content: center;
	}

	.footer_input {
		height: 40px;
		border: solid 2px rgba(255, 255, 255, 0.5);
		outline: none;
		background: transparent;
		padding-left: 31px;
		color: #FFFFFF;
	}

	.footer_button {
		font-size: 12px;
		font-weight: 400;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
	h2 {
		font-size: 24px;
	}

	.header_container {
		height: 70px;
	}

	.header.scrolled .header_container {
		height: 70px;
	}

	.logo {
		padding-left: 33px;
	}

	.logo_image {
		width: 30px;
		top: -35px;
		left: 10px;
	}

	.logo_image img {
		width: 70px;
		height: 70px;
	}

	.header.scrolled .logo_image {
		width: 30px;
		top: -35px;
		left: 10px;
	}

	.logo div:first-of-type {
		font-size: 16px;
	}

	.logo div:nth-child(2) {
		font-size: 8px;
	}

	.menu {
		top: 70px;
		padding-right: 32px;
	}

	.menu_item {
		margin-bottom: 0px;
	}

	.menu_item a {
		font-size: 24px;
	}

	.menu_copyright {
		display: none;
	}

	.menu_social_container {
		margin-top: 50px;
	}

	.menu_close_container {
		right: 30px;
		top: 34px;
	}

	.hamburger {
		right: -10px;
		font-size: 18px;
	}

	.menu_search_input {
		height: 40px;
	}

	.menu_search_submit {
		width: 40px;
		height: 40px;
	}

	.menu_search_submit img {
		max-width: 50%;
	}

	.home_text_large {
		font-size: 64px;
	}

	.home_text_small {
		font-size: 24px;
	}

	.find_title {
		font-size: 24px;
	}

	.find_input {
		height: 40px;
		line-height: 36px;
	}

	.find_button {
		height: 40px;
		line-height: 40px;
		width: 120px;
		padding: 0;
	}

	.find_input::-webkit-input-placeholder {
		font-size: 12px !important;
	}

	.find_input:-moz-placeholder {
		font-size: 12px !important;
	}

	.find_input::-moz-placeholder {
		font-size: 12px !important;
	}

	.find_input:-ms-input-placeholder {
		font-size: 12px !important;
	}

	.find_input::input-placeholder {
		font-size: 12px !important;
	}

	.dropdown_item_select {
		font-size: 12px;
	}

	.find_item div {
		font-size: 12px;
	}

	.find_button {
		font-size: 14px;
	}

	.section_title div {
		font-size: 12px;
		margin-top: 12px;
	}

	.last_item_content {
		padding-left: 25px;
		padding-right: 25px;
	}

	.last_percent {
		font-size: 72px;
	}

	.last_subtitle {
		font-size: 12px;
	}

	.last_title {
		font-size: 24px;
	}

	.last_text {
		font-size: 12px;
	}

	.last_logo {
		top: -51px;
		left: -37px;
		width: 106px;
	}

	.button {
		width: 121px;
		height: 40px;
	}

	.button a {
		font-size: 12px;
		line-height: 40px;
	}

	.video_title {
		font-size: 24px;
	}

	.video_subtitle {
		font-size: 12px;
	}

	.special_content {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.newsletter_title {
		font-size: 24px;
	}

	.newsletter_input {
		height: 40px;
		line-height: 36px;
	}

	.newsletter_button {
		height: 40px;
		line-height: 40px;
		width: 140px;
		padding: 0;
	}

	.newsletter_input::-webkit-input-placeholder {
		font-size: 12px !important;
	}

	.newsletter_input:-moz-placeholder {
		font-size: 12px !important;
	}

	.newsletter_input::-moz-placeholder {
		font-size: 12px !important;
	}

	.newsletter_input:-ms-input-placeholder {
		font-size: 12px !important;
	}

	.newsletter_input::input-placeholder {
		font-size: 12px !important;
	}

	/* tour */

	.feature-img img {
		width: 100%;
		margin-bottom: 20px;
	}

	.post-content-area .single-post .meta-details {
		margin-top: 0;
	}

	.user-details p{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.user-details ul {
		display: flex;
		justify-content: space-evenly;
	}
}
